*{margin:0;padding:0}
:root{ /*변수 설정 */
    --menu-count:3; /*메뉴 갯수 설정 */
}
#main_img{width:2rem;height:2rem;border-radius:50%;
    position:absolute;left:2rem;top:2rem}
header{margin-top:1rem;background-color:#8A2BE2;
    color:white;height:4rem;}
#main_title{text-align:center;height:4rem;line-height:4rem}
footer{position:fixed;bottom:0;right:1rem}
hr{border-width:3px;border-style:groove;color:silver;
    box-shadow:2px 2px 5px silver}
li{ border-width:0;border-style:solid;border-color:gray;
    width:calc(100% / var(--menu-count) - 6px);
    float:left;text-align:center;padding:0.5rem 0;}
/*li:hover{background:lightgray}*/
li:hover{cursor:pointer;border-left-width:1px;border-right-width:1px;
    position:relative;left:2px;top:2px}
ul{list-style:none;}
section{clear:both;
    height:calc(100vh - 2rem - 2rem - 3px - 5rem);
    background:gray}
.sec_img{width:100%;height:100%;display:none}
#anal_win{background:blue;opacity:0.2;dispaly:block;
    left:calc((100% - (100% - 2rem)) / 2);
    top:calc((100% - (100% - 4rem)) / 2);
    width:calc(100% - 2rem);height:calc(100% - 4rem);}
.coverui{position:fixed;display:none}
#anal_btn{color:red;font-size:2rem;cursor:pointer;
    top:calc((100% - (100% - 4rem)) / 2 - 0.7rem);
    right:calc((100% - (100% - 2rem)) / 2 - 0.7rem)}
#anal_content{
    padding:1rem;
    width:calc((100% - 6rem));
    height:calc((100% - 8rem));
    left:calc((100% - (100% - 2rem)) / 2 + 1rem);
    top:calc((100% - (100% - 4rem)) / 2 + 2rem);
    background:white;border-radius:0.5rem;
    box-shadow:3px 3px 3px black}

#anal_content label{display:inline-block;
        width:16rem;margin:1rem}
#anal_content select,#anal_content input{
    width:10rem}
.box{width:15rem;height:7.5rem;border:1px solid black;
    box-shadow:2px 2px 2px black;border-radius:0.5rem;
    float:left;margin:0.5rem;padding:0.5rem}
.unit_title{display:inline-block;width:8rem}
.unit_val{display:inline-block;width:6.2rem;text-align:right}
.oval{display:inline-block;
    color:white;border-radius:50%;
    width:4rem;height:4rem;line-height:4rem;text-align:center}
