<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FOR AI SEC 2026</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel="stylesheet"
          href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=close" />
    <script src="{{url_for('static',filename='apps/main.js')}}">

    </script>
</head>
<body>
    <header>
        <img id="main_img"
             src="{{url_for('static',filename='images/tiger.jpg')}}" />
        <h3 id="main_title">AI 솔루션 보안을 위한 AI 모델 구축 서비스</h3>
    </header>
    <hr>
    <nav>
        <ul> <!--info는 이미지 접두어와 동일하게 설정-->
            <li describ="
                가상화폐 코인 가격 예측 분석
            " info="coin"> ☣ 코인 가격 분석</li>
            <li describ="
                영화리뷰 / 쇼핑리뷰 분석
            " info="npl"> 👱🏽‍♀️ 자연어 처리 분석</li>
            <li describ="
                적대적섭동 및 패치공격 강화 솔루션
            " info="gen"> 🎞 적대적 생성형</li>
        </ul>
    </nav>
    <section>
        <img id="coin" class="sec_img" src="{{url_for('static',filename='images/coin_img.png')}}"/>
        <img id="npl" class="sec_img" src="{{url_for('static',filename='images/npl_img.png')}}"/>
        <img id="gen" class="sec_img" src="{{url_for('static',filename='images/gen_img.png')}}"/>
    </section>
    <footer> 🎎🎎 develop since 2026 ~ c.e.h </footer>
    <div class="coverui xbtn" id="anal_win" style=""></div>
    <span style="" id="x_btn"
          class="coverui xbtn material-symbols-outlined">
            close
    </span>
    <div class="coverui" id="anal_content">
        <h3 information=""></h3><!--가상화폐 코인 가격 예측분석 화면비율 30%-->
        <div id="user_data" style="position:relative;height:calc(30% - 0.5rem);
                background:rgba(0,0,255,0.2)">
            <div>
                <label>화 폐 명 <select id="coin_name">
                    <option value="btc">BTC(비트코인)</option>
                    <option value="eth">ETH(이더리움)</option>
                    <option value="xrp">XRP(리플)</option>
                </select></label>
                <label>분석모델 <select id="cmodel">
                    <option>L S T M</option>
                    <option>CONVLSTM</option>
                </select></label><br>
                <label>분석일수 <input id="cday" type="number" value="5"></label>
                <div style="position:absolute;bottom:1rem;width:100%">
                <button id="analbtn" style="height:2rem;width:100%;
                ">분석하기</button></div>
            </div>
        </div>
        <div id="result_data" style="height:calc(70% - 0.5rem);background:lightgray">
        <!--가상화폐 코인 가격 예측분석 화면비율 70%-->
        </div>
    </div>

</body>
</html>
<!--            <h4>분석결과 표기</h4>-->
<!--            <div>-->
<!--                <div class="box">-->
<!--                    <p>오늘 가격정보</p>-->
<!--                    <p><span>최고가</span><span></span></p>-->
<!--                    <p><span>종 &nbsp;가</span><span></span></p>-->
<!--                    <p><span>최저가</span><span></span></p>-->
<!--                    <p><span>등락율</span><span></span></p>-->
<!--                </div>-->
<!--&lt;!&ndash;                //현재가격정보 DarkRed  배경 - 가격상승, DarkGreen - 가격 하락정보&ndash;&gt;-->
<!--&lt;!&ndash;                // 예측 가격 정보 LightCoral  배경- 가격상승예측, LightGreen 배경 하락정보&ndash;&gt;-->
<!--                <div class="box" style="background:DarkRed;color:white">-->
<!--                    <p>2/28일 예측정보</p>-->
<!--                    <p><span>최고가</span><span>350</span></p>-->
<!--                    <p><span>종 &nbsp;가</span><span>340</span></p>-->
<!--                    <p><span>최저가</span><span></span>320</p>-->
<!--                    <p><span>등락율</span><span></span>+10%</p>-->
<!--                </div>-->
<!--                <div class="box">-->
<!--                    <p>3/1일 예측정보</p>-->
<!--                    <p><span>최고가</span><span></span></p>-->
<!--                    <p><span>종 &nbsp;가</span><span></span></p>-->
<!--                    <p><span>최저가</span><span></span></p>-->
<!--                    <p><span>등락율</span><span></span></p>-->
<!--                </div>-->
<!--            </div>-->